## Iteration 2 : For Loops

## while loop revision

In [3]:
N = int(input())
i = N

while i > 0:
    print(i, end=' ')
    i -= 1

5
5 4 3 2 1

In [4]:
print(3 % 2 )

1

In [7]:
x = int(input())
if x % 2 == 1:
    print(x, 'is odd!')

6

In [10]:
x = int(input())
if x % 2: # 1 is nothing but True
    print(x, 'is odd!')

5
5 is odd!

In [11]:
bool(1)

True

In [12]:
bool(0)

False

## Quiz

In [13]:
i = 0
j = 0
while i <= 2:
    if j%2:
        j += 1
    print(i, ":", j, end=" ")
    i+=1
    j+=1

0 : 0 1 : 2 2 : 4

## range

In [14]:
list(range(1, 10)) # 10 - 1 = 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
range?

### range with 1 input

In [17]:
range(4) # start = 0 by default

range(0, 4)

In [18]:
list(range(4))

[0, 1, 2, 3]

In [19]:
list(range(0, 4))

[0, 1, 2, 3]

In [20]:
list(range(0, 9)) # 9 - 0 = 9

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

## Quiz

In [23]:
print(list(range(7, 8))) # 8 - 7 = 1

[7]

In [24]:
range(8, 8) # 8 - 8 = 0 nums

range(8, 8)

In [25]:
list(range(8, 8)) # ending num 8 is never included

[]

## range with 3 inputs

In [26]:
list(range(0, 9, 2))

[0, 2, 4, 6, 8]

In [27]:
list(range(1, 8, 2))

[1, 3, 5, 7]

In [29]:
list(range(5, 1)) # jump = 1

[]

In [31]:
list(range(5, 1, 1)) # default jump = 1

[]

## Negative jump

In [30]:
list(range(5, 1, -1)) # end = 1 is not included

[5, 4, 3, 2]

In [32]:
list(range(10, -1, -1)) # how many elements will be included?

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## for loop

In [34]:
for i in range(1, 5):
    print(i, end=' ')

1 2 3 4

In [35]:
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [36]:
for i in range(7):
    print(i, end=' ')

0 1 2 3 4 5 6

### Q1. sum of even numbers from 1 to N

In [38]:
N = int(input())
for i in range(1, N + 1):
    print(i, end=' ')

7
1 2 3 4 5 6 7

In [41]:
N = int(input())
for i in range(1, N + 1):
    if i % 2 == 0:
        print(i, end=' ')

7
2 4 6

In [43]:
N = int(input())
for i in range(2, N + 1, 2):
    print(i, end=' ')

8
2 4 6 8

In [47]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [46]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

## Addition

In [52]:
N = int(input())
s = 0
for i in range(2, N + 1, 2):
    s += i
    print(i, s)

print(s)

10
2 2
4 6
6 12
8 20
10 30
30

## Quiz

In [53]:
num = 10

if num%2:
    print("OHH")
else:
    print("NOO")
elif num > 2:
    print("WHYY")

SyntaxError: invalid syntax (2045867208.py, line 7)

In [54]:
num = 10

if num%2:
    print("OHH")
else:
    print("NOO")
if num > 2:
    print("WHYY")

NOO
WHYY

In [ ]:
N = int(input())

for i in range(N, 1, -1):
    print(i, end=' ')

## Q2. Equivalent for

## 2. Equivalent for
Given the piece of code illustrate an working example for `while` loop. Write a python program with same functionality but uses `for` loop instead of while loop

```python
max_ = int(input())
i = 1
while i <= 2**max_:
  print(i)
  i *= 2
```

**Input Format**:
```
Integer as input
```
**Output Format**:
```
Output recieved from the given code
```
**Input Sample**:
```
5
```
**Output Sample**:
```
1
2
4
8
16
32
```

In [57]:
max_ = int(input())
i = 1
while i <= 2**max_:
    print(i)
    i *= 2

5
1
2
4
8
16
32

In [62]:
max_ = int(input())

for i in range(max_ + 1):
    print(2**i, end=' ')

5
1 2 4 8 16 32

## Q3. Print reverse from N to 1

In [55]:
N = int(input())
for i in range(N, 1, -1):
    print(i, end=' ')

7
7 6 5 4 3 2

In [56]:
N = int(input())
for i in range(N, 0, -1):
    print(i, end=' ')

7
7 6 5 4 3 2 1

## Challenge: Solve without negative increment

In [63]:
N = int(input())
for i in range(1, N + 1):
    print(i, end=' ')

5
1 2 3 4 5

In [64]:
N = int(input())
for i in range(1, N + 1):
    print(N + 1 - i, end=' ')

5
5 4 3 2 1

In [66]:
N = int(input())
for i in range(1, N + 1):
    print(N - i + 1, end=' ')

10
10 9 8 7 6 5 4 3 2 1

```
*
* *
* * *
```

```
* * *
* *
*
```

In [ ]:
# Reverse concept will help us

In [68]:
for i in range(-1, 10, 2):
    print(i, end=' ')

-1 1 3 5 7 9

## Q4: Print count of digits in a number

In [71]:
N = 453

In [72]:
print('this is the digit: ', N % 10)
N = N // 10
print(N)

this is the digit:  3
45

In [73]:
print('this is the digit: ', N % 10)
N = N // 10
print(N)

this is the digit:  5
4

In [74]:
print('this is the digit: ', N % 10)
N = N // 10
print(N)

this is the digit:  4
0

In [ ]:
# no of times the loop will run will depend on

In [79]:
N = int(input())
while N > 0:
    d = N % 10
    print(d, end=' ')
    N = N // 10

4607352
2 5 3 7 0 6 4

## Print Reverse of a num

In [81]:
N = int(input())
while N > 0:
    d = N % 10
    print(d, end='')
    N = N // 10

56572
27565

## Count the digits

In [85]:
c = 0
N = int(input())
while N > 0:
    d = N % 10
    print(d, end=' ')
    N = N//10
    c += 1
print('\n')
print(c)

5625
5 2 6 5

4

## Homework

- Just work on the assignemts in dashboard :)

## Doubts

In [90]:
n = int(input())
i=1
res =1
while i<n:
    res = i*i
    if(res<=n):
        # before printing check if it's <= N
        print(res, ' ')
    i +=1

99
1
4
9
16
25
36
49
64
81

## https://github.com/scaleracademy/dsml-nov-22-beginner-tue-2