## Control Statements 1

In [4]:
1 + (5 == 6)

1

In [5]:
(1 + 5) == 6

True

In [7]:
1 + 5 == 6 # 2

True

In [8]:
int(False)

0

In [9]:
int(True)

1

## Password matching

In [12]:
actual_password = 'abc123$@'

pass1 = input("Please enter your password: ")

Please enter your password: 1234abc

In [18]:
actual_password == pass1 # show error msg

False

In [20]:
actual_password = 'abc123$@'

pass1 = input("Please enter your password: ")

Please enter your password: abc123$@

In [21]:
actual_password == pass1 # login me to the website

True

## if else examples

In [22]:
if (2 + 2 == 4):
    print('Yes! 2 + 2 is 4')

Yes! 2 + 2 is 4

In [23]:
if (2 + 2 == 5):
    print("Is this the mirror universe?")

In [24]:
if (2 + 2 == 5):
    print("Is this the mirror universe?")
else:
    print('Sorry Sir! 2 + 2 is 4!!')

Sorry Sir! 2 + 2 is 4!!

## Examination results day

In [42]:
grade = 90

# passing grade = 70

In [43]:
if grade >= 70:
    print("Hurray! You passed the class!")
else:
    print("Ohh no! Please Pass next time!")
print('Thank you for your efforts')

Hurray! You passed the class!
Thank you for your efforts

## Password checker using if else

In [45]:
actual_pass = 'abc1234$@'

password = input()

if password == actual_pass:
    print('Login successful')
else:
    print('Wrong password! Please try again!')

abc1234$@
Login successful

## Score validator

In [47]:
theory = int(input())
practical = int(input())

if theory <= 30 and practical <= 70:
    print('Marks are valid!')
else:
    print('Marks are not correct! Please recheck')

29
57
Marks are valid!

## Maximum marks

In [51]:
m1 = int(input())
m2 = int(input())

if m1 > m2:
    print('m1 is the maximum!')
    print('Marks scored are:', m1)
else:
    print('m2 is the maximum!')
    print('Marks scored are:', m2)

56
70
m2 is the maximum!
Marks scored are: 70

## Challenge

Write a program to check if the person is eligible to join the Indian Airforce based on their heights.

Minimum height required to shortlist the Indian Airfoce is 162 cm.

In [57]:
height = int(input())

if height >= 162:
    print('You are eligible')
else:
    print('You are not eligible')

165
You are eligible

## Leap year

In [58]:
n = 1712

print(n % 4)

0

In [62]:
y = int(input())

if y % 4 == 0:
    print('Leap year')
else:
    print('Not a leap year')
    
# incorrect, 1800 is not leap

1800
Leap year

## Nested if else

In [63]:
if 2 + 2 == 4:
    if 2 + 3 == 5: # nested if else
        print('Yeah both are true')
    else:
        print('Only 1 is true')

Yeah both are true

## Correct Leap year code

![img](https://upload.wikimedia.org/wikipedia/commons/5/52/Leap_Year_Algorithm.png)

In [70]:
y = int(input())
if y % 4 == 0:
    if y % 100 == 0:
        if y % 400 == 0:
            print('Leap year!')
        else:
            print('Not leap year!')
    else:
        print('Leap year')
else:
    print('Not leap year')

1800
Not leap year!

In [ ]:
# if else if => next class

## Quizzes

In [71]:
x = 5

if x == 5:
    x = 7

print(x)

7

In [72]:
a = 4
b = -5
if a > 0:
    if b < 0:
        a = a - 2 
    else:
        a = a + 3
else:
    b = b + 2

In [73]:
print(a)

2

In [74]:
x = 5
if x < 5 or x > -1:
    x = x - 3
else:
    x = x - 3

print(x)

2

In [75]:
a = 12
b = 5

if a+b > 0:
    print('True')
else:
    print('False')

True