## Lecture 1 - Data Types

In [1]:
print(56)

56

In [2]:
print(234.56)

234.56

In [3]:
print(-35.1)

-35.1

In [4]:
print("this is a string")

this is a string

In [5]:
print("sahil@scaler.com")

sahil@scaler.com

In [6]:
print('we can also using single quotes')

we can also using single quotes

In [7]:
print(True)

True

In [9]:
# print(true) -> incorrect syntax

In [10]:
print(False)

False

In [11]:
print(.2)

0.2

In [12]:
print(5.)

5.0

## type function

In [13]:
type(5)

int

In [14]:
type("2.3")

str

In [15]:
type(2.3)

float

In [16]:
type(True)

bool

## Variables

In [17]:
x = 3

In [18]:
print(x)

3

In [19]:
x = "5.245"

In [20]:
print(x)

5.245

In [21]:
type(x)

str

In [22]:
name = 'Sahil'

In [23]:
print(name)

Sahil

## Quizzes

In [24]:
name = 'Sahil'
print(Name)

NameError: name 'Name' is not defined

In [26]:
Y = 5
print(y)

NameError: name 'y' is not defined

In [27]:
x = 3
y = 'hello'

print(x)
print(y)

3
hello

## Naming convention for variables

In [28]:
hELLO = 1
print(hELLO)

1

In [29]:
1_name_Input = 4 # can't start with a number

SyntaxError: invalid decimal literal (2088115289.py, line 1)

In [30]:
a*b*c = 3 # no special char except underscore

SyntaxError: cannot assign to operator (2410324431.py, line 1)

In [31]:
Cod3$# = 5 # no special char

SyntaxError: invalid syntax (1921646820.py, line 1)

## Quiz variable naming - 2

In [34]:
x21354y = 5214
print(x21354y)

5214

In [36]:
print("1') # can't close double quote with single quote

SyntaxError: EOL while scanning string literal (2237435765.py, line 1)

In [37]:
print('1')

1

In [38]:
print("1")

1

In [40]:
print("This is the string incorrect!')

SyntaxError: EOL while scanning string literal (2231382431.py, line 1)

# Problem:

Take 2 numbers as input from the user and
add them, print the result.

## Taking input from the user

In [41]:
input('Please enter your name:')

Please enter your name:Sahil Bansal

'Sahil Bansal'

In [42]:
input('Please enter your age:')

Please enter your age:25

'25'

In [43]:
x = input() # all input is string

5

In [44]:
print(x)

5

In [45]:
type(x)

str

In [46]:
y = input()

7

In [47]:
print(y)

7

In [48]:
type(y)

str

In [49]:
'hello' + 'world' # concatenation of strings

'helloworld'

In [50]:
3 + 5

8

## Add numbers - attempt 1

In [51]:
x = input()

5

In [52]:
y = input()

6

In [53]:
print(x + y)

56

## Typecasting

In [54]:
int('5')

5

In [55]:
'5'

'5'

In [57]:
int('67')

67

In [58]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [59]:
int('5.6')

ValueError: invalid literal for int() with base 10: '5.6'

## Add 2 input nums - attempt 2

1. take the input
2. store the input - variables
3. convert string to int
4. add the int

In [60]:
x = input()
y = input()

5
6

In [62]:
# print(x+y)

In [63]:
x = int(x)
type(x)

int

In [64]:
y = int(y)
type(y)

int

In [65]:
print(x + y)

11

## Quiz

In [66]:
x = int(input())
x = x + 0
print("Hello")

Rs. 53

ValueError: invalid literal for int() with base 10: 'Rs. 53'

In [67]:
x = int(input())
x = x + 0
print("Hello")

53
Hello

In [68]:
print(x)

53

## Adding 2 nums code - final

In [72]:
x = int(input()) # take the input -> conver to int
                # -> store in x
y = int(input())
print(x + y)

14
74
88

## Doubts

In [74]:
x21345= 5416
print(x21345)

5416

In [75]:
print(5416)

5416

In [76]:
s = "1234"
type(s)

str

In [77]:
int(s)

1234

In [78]:
type(int(s))

int

In [79]:
x = 5
x = "1234"
type(x)

str